In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Basavakalyan,17.8667,76.9500,73.04,86,58,15.50,IN,2021-08-05 20:29:12
1,1,Port Elizabeth,-33.9180,25.5701,59.29,88,75,12.66,ZA,2021-08-05 20:25:10
2,2,Santa Cruz,-17.8000,-63.1667,85.46,28,0,6.91,BO,2021-08-05 20:27:47
3,3,Bluff,-46.6000,168.3333,38.80,86,74,7.20,NZ,2021-08-05 20:27:46
4,4,Ushuaia,-54.8000,-68.3000,49.62,75,75,36.82,AR,2021-08-05 20:29:02

In [9]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 88

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Santa Cruz,-17.8000,-63.1667,85.46,28,0,6.91,BO,2021-08-05 20:27:47
5,5,Zhangye,38.9342,100.4517,75.67,35,100,5.79,CN,2021-08-05 20:27:23
7,7,Georgetown,5.4112,100.3354,81.90,89,20,2.30,MY,2021-08-05 20:25:38
12,12,Manali,13.1667,80.2667,80.69,66,100,15.50,IN,2021-08-05 20:29:18
15,15,Barmer,25.7500,71.3833,83.98,64,100,16.33,IN,2021-08-05 20:29:20
19,19,Butaritari,3.0707,172.7902,83.98,61,12,10.76,KI,2021-08-05 20:29:23
21,21,Lorengau,-2.0226,147.2712,80.01,82,100,7.02,PG,2021-08-05 20:27:52
23,23,Ponta Do Sol,32.6667,-17.1000,75.70,83,29,1.50,PT,2021-08-05 20:28:33
28,28,Nantucket,41.2835,-70.0995,75.96,91,75,13.80,US,2021-08-05 20:29:28
32,32,Sinnamary,5.3833,-52.9500,81.50,81,44,5.39,GF,2021-08-05 20:29:30

In [18]:
preferred_cities_df.count()

City_ID       214
City          214
Lat           214
Lng           214
Max Temp      214
Humidity      214
Cloudiness    214
Wind Speed    214
Country       214
Date          214
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2     Santa Cruz      BO     85.46 -17.8000  -63.1667
5        Zhangye      CN     75.67  38.9342  100.4517
7     Georgetown      MY     81.90   5.4112  100.3354
12        Manali      IN     80.69  13.1667   80.2667
15        Barmer      IN     83.98  25.7500   71.3833
19    Butaritari      KI     83.98   3.0707  172.7902
21      Lorengau      PG     80.01  -2.0226  147.2712
23  Ponta Do Sol      PT     75.70  32.6667  -17.1000
28     Nantucket      US     75.96  41.2835  -70.0995
32     Sinnamary      GF     81.50   5.3833  -52.9500

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Santa Cruz,BO,85.46,-17.8000,-63.1667,Aviador Hotel Boutique
5,Zhangye,CN,75.67,38.9342,100.4517,Zhangye Lvzhou Holiday Inn
7,Georgetown,MY,81.90,5.4112,100.3354,Cititel Penang
12,Manali,IN,80.69,13.1667,80.2667,Sarathy Lodge
15,Barmer,IN,83.98,25.7500,71.3833,OYO 71911 Hotel Amber Palace
19,Butaritari,KI,83.98,3.0707,172.7902,Isles Sunset Lodge
21,Lorengau,PG,80.01,-2.0226,147.2712,Lorengau Harbourside Hotel
23,Ponta Do Sol,PT,75.70,32.6667,-17.1000,Hotel do Campo
28,Nantucket,US,75.96,41.2835,-70.0995,Jared Coffin House
32,Sinnamary,GF,81.50,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]